<app-dashboard></app-dashboard>
<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">

  <app-header></app-header>


  <section class="tab-components">
    <div class="container-fluid">
      <form [formGroup]="form" (submit)="onSavePost(postForm)" *ngIf="!isLoading">

        <div class="input-style-1">
          <label>Nom Produit</label>
          <input type="text" placeholder="Nom Produit" matInput formControlName="name" />
        </div>
        <div class="input-style-1">
          <label>Prix</label>
          <input type="text" matInput  placeholder="Prix" name="price" formControlName="price"  />
        </div>
        <div class="input-style-1">
          <label>Quantité</label>
          <input type="number" matInput formControlName="qty" placeholder="Quantité"   />
        </div>
        <div class="form-group">
          <label for="file">Choisir Image Produit</label>
          <input class="form-control" type="file" id="file" (change)="onChange($event)">
        </div>
        <div class="input-style-1">
          <label>Description</label>
          <textarea matInput placeholder="Description Produit" formControlName="desc"
            rows="5"></textarea>
        </div>
        <div class="select-style-1">
          <label>Categorie</label>
          <div class="select-position">
            <select  matInput matInput formControlName="catg">
              <option value="">Choisir Categorie</option>
              <option value="SPORT">SPORT</option>
              <option value="FESTIVALE">FESTIVALE</option>
              <option value="CINEMA">CINEMA</option>
              <option value="SPECTACLE">SPECTACLE</option>
              <option value="PROFESSIONNEL">PROFESSIONNEL</option>
            </select>
          </div>
        </div>


        <button mat-raised-button color="accent" type="submit">Edit Produit</button>
      </form>
    </div>
  </section>

  <app-footerdash></app-footerdash>
</main>
